In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [5]:
# panda series

pd_series = pd.Series([10, 100, 15, 35, 35])
display(pd_series)

pd_series = pd.Series([1776, 1867, 1821], index=["USA", "CANADA", "MEXICO"])
pd_series

{
    "Apple": 1.2,
    "Banana": 0.8,
    "Orange": 1.5,
    "Mango": 2.5,
    "Grapes": 3.0,
    "Watermelon": 4.5,
    "Pineapple": 3.8
}
'''
create pd.Series
find the cost of Grapes using loc
print all indexes
print all values
print first 3 rows (using iloc)
'''

0     10
1    100
2     15
3     35
4     35
dtype: int64

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [11]:

# create the Series
prices = pd.Series({
    "Apple": 1.2,
    "Banana": 0.8,
    "Orange": 1.5,
    "Mango": 2.5,
    "Grapes": 3.0,
    "Watermelon": 4.5,
    "Pineapple": 3.8
})

display(prices)
print()

# find the cost of Grapes using loc
print("Cost of Grapes:", prices["Grapes"])  # does not work with df
print("Cost of Grapes:", prices.loc["Grapes"])
print()

# print all indexes
print("Indexes:", prices.index)
print()

# print all values
print("Values:", prices.values)
print()

# print first 3 rows (using iloc)
print("First 3 rows:\n", prices.iloc[:3])

Apple         1.2
Banana        0.8
Orange        1.5
Mango         2.5
Grapes        3.0
Watermelon    4.5
Pineapple     3.8
dtype: float64

Cost of Grapes: 3.0
Cost of Grapes: 3.0

Indexes: Index(['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Watermelon',
       'Pineapple'],
      dtype='object')

Values: [1.2 0.8 1.5 2.5 3.  4.5 3.8]

First 3 rows:
 Apple     1.2
Banana    0.8
Orange    1.5
dtype: float64

In [13]:
import numpy as np

np.random.seed(100)
my_data = np.random.randint(0, 101, (4, 3))
row_index = ['CA', 'NY', 'AZ', 'TX']
col_names = ['Jan', 'Feb', 'Mar']

# Create DataFrame
df = pd.DataFrame(my_data, index=row_index, columns=col_names)
df

# create grades df
# 1
# index = Alice, Bob, Martin, Shi, Dvir, Shlomo
# columns = 'Math', 'Physics', 'Chemistry', 'Biology'
# grades: seed(42)
# grades values in between 10-100
# 2 change Shi grade in Physics to 100. using at
# 3 print all Math column
# 4 print max grade of Chemistry
# 5 print min grade of Bioligy
# 6 print the avg of Physics
# 7 print all grades of Bob
# 8 print the avg grades of Bob using loc
# 9 print the entire avg of all of the df
# A print the df with only grades of Math Bioligy
# B print the last student using iloc

# --- later
# B print all students and their grades for students that got Math > 80
# C add column 'math-genie' if the student math grade is bigger than 90 write 'genie' otherwise write 'human'
# D create column 'min-grade' and populate the min grade of each student, using apply (row)
# E create column 'avg-grade' and populate the avg grade of each student, using apply (row)
# F add column 'Excellent' , put V in this column for students with avg > 80 and X for others, using apply (row)

    Jan  Feb  Mar
CA    8   24   67
NY   87   79   48
AZ   10   94   52
TX   98   53   66